html,
body {
    font-family: Arial;
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

#pageTitle{
    position: fixed;
    top: 0px;
    left: 5%;
    width: 30%;
}

#searchbox {
    position: fixed;
    left: 5%;
    top: 45px;
    height: 30px;
    width: 18%;
    font-size: 15px;
}

#list_view {
    position: fixed;
    height: 20%;
    overflow: auto;
    top: 85px;
    left: 5%;
    width: 15%;
    font-size: 13px;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;/* for Safari and Chrome */
    -moz-border-radius: 5px;/* for Firefox */
}

#list_name {
    color: red;
}

@media only screen and (max-width: 768px) {

    h2 {
      font-size: 12px;
    }

    #pageTitle {
    position: fixed;
    top: 0px;
    width: 35%;
    left: 10%;
    }

    #searchbox {
    position: fixed;
    left: 10%;
    top: 40px;
    height: 25px;
    width: 30%;
    font-size: 8px;
    }

    #list_view{
    position: fixed;
    height:27%;
    top: 70px;
    left: 5%;
    width: 35%;
    background-color: black;
    font-size: 12px;
    }
}